.container {
  padding: 3rem 2rem;
  height: 100vh;
  border-right: 1px solid #676767;
}

.listItem {
  margin-bottom: 24px;
}

.grey {
  color: #9b9b9b;
}

.white {
  color: azure;
}

.blue {
  color: #00a6ff;
}

.link {
  color: #9b9b9b;
  text-decoration: none;
}

.linkActive {
  color: azure;
  text-decoration: none;
}

.linkVisited {
  color: #00a6ff;
  text-decoration: none;
}

.linkVisited:hover {
  color: #00a6ff;
}

.link:hover,
.linkActive:hover {
  color: azure;
}
